* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Arial';
}
.App {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
.user {
  border: 2px solid black;
  width: 380px;
  display: flex;
  flex-direction: column;
}

span {
  font-size: 20px;
}